.brand-active {
	& .slick-arrow {
		position: absolute;
		right: 50px;
		top: -125px;
		background: #ffffff;
		height: 40px;
		width: 40px;
		border: 0;
		font-size: 19px;
	}
	& .slick-prev.slick-arrow {
		right: 100px;
	}
	& .slick-arrow:hover{
		background: #26ae61;
		color: #fff;
	}
}
.single-brand {
	text-align: center;
	& a {
		display: inline-block;
	}
}
.brand__inner {
	border-top: 1px solid #ddd;
}
