// Font Family
$montserrat: 'Montserrat', sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #1c2733;
$black-2: #667488;
$yellow: #fe9703;
$blue: #1e2c8a;
$blue-soft: #11202d;
$grey:#f5f7fc;
$theme-color: #26ae61;
$body-text-color: #667488;
$hr-border-color:#eceff8;

// Heading Color
$heading-color: #1c2733;


$border-1: #e0e0e0;
$border-2: #dfdfdf;
$border-3: #e7e7e7;
$border-4: #8a8585;
$border-5: #484848;
$border-6: #232f3b;
$border-7: #eaeaea;
$border-8: #51be81;
$border-9: #e3e3e3;
$border-10: #dbdbdb;
$border-11: #d6d6d6;
$border-12: #e1e1e1;
$border-13: #ebebeb;

$grey-2: #a1a6ab;
$green: #42cc7e;

$black-soft: #97a3b0;
$black-soft-2: #354352;


// Responsive Variables
$xxl: 'only screen and (min-width: 1500px) and (max-width: 1800px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

