@use '../utils/' as *;

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px !important;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px !important;
    }
}

@media (min-width:992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px !important;
    }
}

@media (min-width:1200px) {
    .mean-container {
        display: none;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px !important;
    }
}

@media (min-width: 1441px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px !important;
    }
}